In [1]:
import pandas as pd
import numpy as np
from typing import List
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("../input/train.csv")

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
missing_col = df.columns[df.isnull().any()]
missing_col

Index(['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [ ]:
def handle_missing(df: pd.DataFrame, missing_col: List[str]) -> pd.DataFrame:
    """
    df: pandas dataframe
    missing_col: List of columns having missing values
    """
    for c in missing_col:
        if c in df.columns[df.dtypes == 'object']:
            df.loc[:,c] = df.loc[:, c].astype(str).fillna(df.loc[:,c].mode())
        else:
            df[c] = df[c].fillna(df[c].mean())
    return df

In [ ]:
handle_missing(df= df, missing_col=missing_col)

In [ ]:
df.loc[:, "Gender"].mode()

In [5]:
from statistics import mode
import pandas as pd
import numpy as np
from typing import List, Union


class Exploratory:
    def __init__(self, dataframe: pd.DataFrame) -> None:
        self.df = dataframe
        self.missing_col: List[str] = self.df.columns[self.df.isnull().any()]


    def missing_na(self) -> pd.DataFrame:
        for c in self.missing_col:
            if c in list(set(self.df.columns[self.df.dtypes=="object"])):
                self.df.loc[c] = self.df.loc[:, c].astype(str).fillna(self.df.loc[:, c].mode())
            elif c in list(set(self.df.columns[(self.df.dtypes=="float")|(self.df.dtypes=="int")])):
                self.df[c] = self.df.loc[:, c].fillna(self.df.loc[:, c].mean())
            else:
                raise Exception("Something went wrong!!")
        print(self.df.isnull().sum())
        return self.df
    

    def outlier_detection(self) -> List[str]:
        outlier : List[Union[int, float]]
        for c in self.df:
            col_mean = self.df[c].mean()
            std_dev = np.std(self.df[c])
            z = (self.df[c] - col_mean)/std_dev
            if (z > col_mean).any():
                outlier.append(c)
            print("mean of {} is {} and standard Deviation is {} ".format(c, col_mean,std_dev))    
            print("outlier in {}".format(c), outlier)
        return outlier

In [6]:
Exploratory(dataframe=df).missing_na()

Loan_ID               4
Gender               14
Married               5
Dependents           18
Education             4
Self_Employed        36
ApplicantIncome       4
CoapplicantIncome     4
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         4
Loan_Status           4
dtype: int64

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.000000,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583.0,1508.0,128.000000,360.0,1.000000,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.000000,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.000000,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.000000,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.000000,360.0,0.000000,Semiurban,N
Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.412162,342.0,0.842199,NaN,NaN
Married,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,146.412162,342.0,0.842199,NaN,NaN
Dependents,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,146.412162,342.0,0.842199,NaN,NaN
Self_Employed,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,146.412162,342.0,0.842199,NaN,NaN

In [7]:
Exploratory(dataframe=df).outlier_detection()

TypeError: can only concatenate str (not "int") to str